.NavBarWrapper{
    position: absolute;
    left: -250px;
    transition: 1s;
}
.NavBarWrapper:hover{
    position: absolute;
    left: 0px;
    transition: 1s;
}
.NavBarWrapperWrapper{
    position: relative;
    height: 30px;
}
.NavBar a{
    color:red;
    text-decoration: none;
    align-self: center;
}
.NavBar{
    display: flex;
    height: 100%;
    gap: 15px;
    wrap-option: no;
    width: 300px;
    gap: 15px;
    border: 3px #0c19b4 solid;
}
.NavLinks{
    display: flex;
}

.HoverButton{
    height: 25px;
    width: 50px;
    background: red;
}